<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maple.smaple.mpandroidchartdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".linechart.MyLineChartActivity" />
        <activity android:name=".markerchart.MarkerChartActivity"/>
        <activity android:name=".savestate.SaveSateActivity" />
        <activity android:name=".gridlayout.GridViewActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".progress.ProgressActivity" />
        <activity android:name=".nbbutton.MyFirstActivity" />
        <activity android:name=".nbbutton.MyScondActivity" />
        <activity android:name=".viewapge.PageActivity" />


        <activity android:name=".markerchart.activity.CombinedChartActivity"/>
        <activity android:name=".markerchart.activity.LineChartActivity"/>
        <activity android:name=".markerchart.activity.DynamicLineChartActivity"/>
        <activity android:name=".markerchart.activity.BarChartActivity"/>
        <activity android:name=".markerchart.activity.RadarChartActivity"/>
        <activity android:name=".markerchart.activity.PieChartActivity"/>
        <activity android:name=".markerchart.activity.MeterActivity"/>
    </application>

</manifest>